@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  @apply antialiased;
}

*,
*::before,
*::after {
  transition-property: background-color, border-color, color;
  transition-duration: 150ms;
  transition-timing-function: ease-in-out;
}

/* Prevent transitions on page load */
.no-transitions *,
.no-transitions *::before,
.no-transitions *::after {
  transition: none !important;
}
